<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643628361415-30b9ndqe6vq3ooipr72ooqiig125nbqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643628361415-30b9ndqe6vq3ooipr72ooqiig125nbqo</string>
	<key>API_KEY</key>
	<string>AIzaSyCyW9rDdZfMDrhPb1uIIfy9ctjFVcGDbx0</string>
	<key>GCM_SENDER_ID</key>
	<string>643628361415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.softradix.socialLoginPlugin</string>
	<key>PROJECT_ID</key>
	<string>social-login-plugin-90bb7</string>
	<key>STORAGE_BUCKET</key>
	<string>social-login-plugin-90bb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643628361415:ios:71af1025b6774821ad00e2</string>
</dict>
</plist>